@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #291d3e;
  --secondry-text-color: #000000;
  --accent-color: #3394ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--secondry-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  font-size: 0.8rem;
}
/* utility classes */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: #3427ac;
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondry-text-color);
  transition: 0.2s ease-out;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondry-button {
  border: 0.5px solid var(--secondry-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondry-button:hover {
  border-color: var(--accent-color-dark);
  color: var(--accent-color-dark) !important;
}

/* top banner */
.top-banner {
  background-color: #3394ed;
}
.main-nav {
  justify-content: space-between;
  padding: 10px;
  margin-top: 0px;
}

.company-logo {
  font-size: 2rem;
  padding-top: 10px;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 40px;
}
nav {
  width: 100%;
  height: 120px;
  background: linear-gradient(to top left, #a8f5ff, #b79cd0);
  box-shadow: 3px 3px 20px #000000;
  position: sticky;
  z-index: 2;
  margin-top: 0%;
  padding-top: 0%;
}

.img-fluide {
  width: 100%;
  height: 100%;
}

.background-wallpaper {
  height: 800px;
  border: none;
  background: url(https://images.pexels.com/photos/11484130/pexels-photo-11484130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-input {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 20px 40px;
  background-color: #ffffff33;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 3px 3px 5px #0b3f4c;
  z-index: 0;
  color: black;
  font-family: "poppins", sans-serif;
}

.container-input h1 {
  color: white;
  text-shadow: 0 0 3px #b62020, 0 0 5px #b79cd0;
}

.container-input p input {
  width: 220px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-top: 4px;
}
.return-type input[type="checkbox"] {
  accent-color: #2487d2;
}
.return-type input[type="Radio"] {
  accent-color: #2487d2;
}

.return-type input[type="submit"] {
  width: 300px;
  height: 50px;
  background-color: rgb(53, 53, 53);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.return-type input[type="submit"]:hover {
  background-color: #000000;
}

.submit {
  padding-left: 620px;
  padding-bottom: 20px;
}

.about {
  text-align: left;
  margin-left: 170px;
  margin-top: 250px;
}

.drictions {
  padding-left: 40px;
}

.container-flights {
  height: 20px;
  border: 2px solid rgba(255, 0, 0, 0);
  display: flex;
  height: 60vh;
  background-attachment: scroll;
  padding-top: 0px;
  flex-flow: wrap;
  justify-content: space-around;
}

.card {
  height: 170px;
  width: 290px;
  box-shadow: 5px 5px 20px black;
}

img {
  margin-top: 20px;
  border-radius: 3px;
  margin-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}

.destination {
  height: 90px;
  width: 290px;
  padding: 6px;
  bottom: 70px;
  background: rgb(27, 27, 27);
  color: white;
}

.destination h1 {
  font-size: 1.2rem;
  margin: 10px;
}

.destination a {
  font-size: 0.9rem;
  margin: 4px;
  color: #3394ed;
}

.container-cta {
  flex-direction: column;
  gap: 30px;
  color: blanchedalmond;
}

.container-cta p {
  color: white;
}

.cat-section {
  background: url(https://www.airindia.com/adobe/dynamicmedia/deliver/dm-aid--36c38bc9-fdca-4292-82ec-6ebb892afccd/fly-non-stop-image.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px;
}

section {
  width: 100%;
  display: inline-block;
  background: #fffcfc;
  height: 30vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
